<div class='container-fluid transfer'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='info'>
      <div class='col-md-12'>
        <h1>History</h1>
      </div>
      <% @transfers.each do |transfer| %>
        <hr>
        <div class='col-md-12'>
          <h3>From</h3>
          <p><%= transfer.outgoing_account.user.name %></p>
        </div>
        <div class='col-md-12'>
          <h3>To</h3>
          <p><%= transfer.incoming_account.user.name %></p>
        </div>
        <div class='col-md-4'>
          <h3>Amount</h3>
          <p><%= transfer.amount %></p>
        </div>
        <div class='col-md-8'>
          <h3>Created On</h3>
          <p><%= transfer.created_at %></p>
        </div>
      <% end %>
      <hr>
      <div class='col-md-12'>
        <p> <%= link_to 'Go Back to Your Account', account_path(current_user.account), class: 'btn btn-default' %> </p>
      </div>
    </div>
  </div>
  </div>
  <div class='col-md-2'></div>
</div>
